.wrapper {
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}
.tasks {
    padding: 5px;
    min-height: 200px;
}
.tasks > li {
    list-style-type: none;
}

.errorMessage {
    color: red;
}
.isDane {
    opacity: 0.5;
}
